/* Dong Custom**********************************************************/
//Avatar
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
.avatar {
    max-width: 45x;
    max-height: 45px;
    min-width: 10px;
    min-height: 10px;
}
//Button in user manage
.btn {
    &.btn-edit {
        &:hover {
            opacity: 0.6;
        }
    }
    &.btn-save {
        &:hover {
            opacity: 0.6;
        }
    }
    &.btn-cancle {
        &:hover {
            opacity: 0.6;
        }
    }
}
//Profile page
.profilepic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
}

.profilepic:hover .profilepic__content {
    opacity: 1;
    cursor: pointer;
}

.profilepic:hover .profilepic__image {
    opacity: 0.5;
}

.profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
    color: white;
    padding-bottom: 8px;
}

.fas {
    font-size: 20px;
}

.profilepic__text {
    text-transform: uppercase;
    font-size: 12px;
    width: 50%;
    text-align: center;
}

.image_area {
    position: relative;
}

.crop__frame {
    display: block;
    max-width: 100%;
}

.avatar__preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

.modal-lg {
    max-width: 1000px !important;
}

//Multi-dropdown
.drop-down02 .sub-menu02 {
    position: absolute !important;
    left: 100%;
    top: 0;
}

.drop-down02 .dropdown-toggle {
    padding: 0.5rem 1.1rem !important;
}

.dropdown-item {
    transition-duration: 10ms;
    &:hover {
        transition-duration: 10ms;
    }
}

@media screen and (max-width: 991.5px) {
    .drop-down02 .sub-menu02 {
        position: static !important;
    }
}

//Custom loading animation
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ef1b48;
    border-bottom: 4px solid #ef1b48;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//nav-bar-dark vs bg-transparent

.bg-transparent.navbar-dark {
    & .nav-link,
    .nav-item {
        color: #fff;
        &:hover {
            color: #f3f3f3c2;
        }
    }
}

/* Dong Custom End**********************************************************/
///##########################################################################
/* Khoa Custom**************************************************************/

/* Khoa Custom End**********************************************************/
