<!-- ##### Footer Area Start ##### -->
    <footer class="footer-area mt-5">
        <!-- Footer Logo -->
        <div class="footer-logo mb-100">
            <a href="/"><img src="https://i.ibb.co/CzPLT5c/bkfc-logo.png" width="300px" alt=""></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content text-center">
                        Số  nguời đang truy cập trang web: <span class="text-danger" id="active-user"></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        socket.on('usercnt', function(active) {
                $('#active-user').text(active);
            })
    </script>