{{!-- NAVBAR --}}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pb-2 fixed-top" id="fixed-nav">
        <div class="container-fluid pb-2">
            <a href="/" class="nav-brand">
                <img src="https://i.ibb.co/mGpHQH9/bkfc-logo.png" width="100" alt="">
            </a>
            {{!-- <a class="navbar-brand" href="/">BKFC Tây Thạnh</a> --}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ps-auto ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-center" aria-current="page" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/post">Tin tức</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/post/all">Tất cả bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/dashboard/post-manage">Quản lý bài viết</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/post/my-post">Bài viết của tôi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/post/create">Tạo bài viết mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="/contact">Liên hệ</a>
                    </li>
                    {{#if authenticated}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar" src ="{{user.picture}}">
                        <span id="user-name">{{user.name}}</span> 
                        </a>
                        <div class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="navbarDropdown">
                            {{#if (equal user.admin 3)}}
                            <div class="dropdown-item dropstart drop-down02 dropdown-hover">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dashboard
                                </a>
                                <div class="dropdown-menu sub-menu02 text-center" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/dashboard/general">Thông tin chung</a>
                                    <a class="dropdown-item" href="/dashboard/post-manage">Quản lí bài viết</a>
                                    <a class="dropdown-item" href="/dashboard/users">Quản lí người dùng</a>
                                </div>
                            </div>
                            {{/if}}
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <div class="dropdown-divider"></div>
                            {{#if (or (equal user.admin 1) (equal user.admin 3))}}
                            <a class="dropdown-item" href="/post/create">Tạo bài viết mới</a>
                            <a class="dropdown-item" href="/post/my-post">Bài viết của tôi</a>
                            <div class="dropdown-divider"></div>
                            {{/if}}
                            <a class="dropdown-item"  href="/logout">Log Out</a>
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a  data-bs-toggle="modal" data-bs-target="#modalForm" href="" class="nav-link text-center">Đăng nhập</a>
                    </li>
                    {{/if}}
                    
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column text-center">
                            <div class="mb-4 d-flex justify-content-center">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6"> 
                                    {{!-- <a href="/login" class="btn btn-block btn-social btn-google"> Login with Google <i class="fab fa-google"></i> </a>  --}}
                                    <a class="btn btn-block btn-social btn-google" href="/login" style="text-transform:none">
                                        <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                        Đăng nhập bằng Google
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if auth}}
        <div class="modal fade" id="modalAuth" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-body">
                Bạn cần đăng nhập trước khi vào trang này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button class="btn btn-primary" data-bs-target="#modalForm" data-bs-toggle="modal" data-bs-dismiss="modal">Đăng nhập</button>
            </div>
            </div>
        </div>
        </div>
        {{/if}}

        {{#if access}}
        <div class="modal fade" id="modalAccess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn không được cấp quyền truy cập vào trang này
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok, đã rõ</button>
                </div>
                </div>
            </div>
        </div>  
        {{/if}}

        <script src="/js/navMultidropdown.js"></script>
        {{#if auth}}
        <script>
            let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modalAuth')) // Returns a Bootstrap modal instance
            // Show or hide:
            modal.show();
        </script>
        {{/if}}

        {{#if access}}
        <script>
            let modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('modalAccess')) // Returns a Bootstrap modal instance
            // Show or hide:
            modal.show();
        </script>
        {{/if}}
    </nav>
    <script>
        $('#modalForm').appendTo("body")
    </script>
</header>
    
    
