<section class="breaking-news-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Breaking News Widget -->
                    <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                        <div class="title pe-auto ps-auto">
                            <h6>Bài viết mới</h6>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                              
                                <li><a href="#">Tỉ lệ rớt môn ở Bách Khoa hơn 50%.</a></li>
                                <li><a href="#">Học phí tăng cực mạnh làm sinh viên ngất xỉu.</a></li>
                                <li><a href="#">Sinh nhật con mèo ở cơ sở 1 Bách Khoa.</a></li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>