{{!-- <div class="home-background">
</div> --}}

<!-- Header -->
<div id="home-header" class="home-header">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="h1-large">BKFC<br> TÂY THẠNH</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="button-container">
                        <a class="btn-solid-lg ms-1 me-1" href="#home-intro">Giới thiệu</a>
                        <a class="btn-outline-lg ms-1 me-1" href="/contact">Liên hệ</a>
                    </div> <!-- end of button-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
</div> <!-- end of header -->
<!-- end of header -->

<!-- Introduction -->
    <div id="home-intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>Vai trò của BKFC Tây Thạnh với các bạn học sinh THPT</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <p><strong>Planing</strong> led ask possible mistress relation elegance eat likewise debatin. By message or am nothing amongst chiefly address of research</p>
                        <p><strong>Designing</strong> the its enable direct men depend highly. Ham windows sixte who inquiry fortune demands. Is be force upon and of course</p>
                        <p><strong>Development</strong> sang fond must shew. Really boy law county she unable her sister. Feet you off its. Among are leave law built now</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->

<script>
    const bodyTag = $("body");
    bodyTag.addClass("home-bg");

    const navbar = $(".navbar");
    navbar.addClass("fixed-top");
</script>
