
    <!-- ##### Contact Area End ##### -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=429832765548741&autoLogAppEvents=1" nonce="fBzCKsJJ"></script>
    <!-- ##### Contact Area Start ##### -->
    <div class="container">
        <div class="row justify-content-center">
                    <!-- Logo -->
                    <div class="fb-page" data-href="https://www.facebook.com/BKFCTayThanh" data-tabs="timeline" data-width="2000" data-height="500" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BKFCTayThanh" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BKFCTayThanh">BK FC - THPT Tây Thạnh, TP.HCM</a></blockquote></div>                   
            
        </div>
    </div>
    <script>
$(document).ready(function(){
        $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#fixed-nav').height() + 10);
        });
    });
</script>
    <!-- ##### Contact Area End ##### -->
