{{!-- <div class="home-background">
</div> --}}

<!-- Header -->
<div id="home-header" class="home-header">
    <div class="row m-0">
        <div class="col-lg-6 col-md pe-0 g-0">
            <h1 class="h1-large">BKFC<br> TÂY THẠNH</h1>
        </div> <!-- end of col -->
        <div class="col-lg-6 col-md p-0 g-0">
            <span class="button-container p-0">
                <a class="btn-solid-lg ms-1 me-1" href="#home-intro">Giới thiệu</a>
                <a class="btn-outline-lg ms-1 me-1" href="/contact">Liên hệ</a>
            </span> <!-- end of button-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of header -->
<!-- end of header -->

<!-- Introduction -->
    <div id="home-intro" class="basic-1">
        <div class="container">
            <div class="row gutter-0">
                <div class="col-lg-6">
                    <h1>Vai trò của BKFC Tây Thạnh với các bạn học sinh THPT</h1>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="text-container">
                        <p><strong>Lan tỏa</strong> tình yêu đối với trường Đại học Bách Khoa TPHCM</p>
                        <p><strong>Định hướng</strong> ngành học mà các bạn muốn theo đuổi sau khi tốt nghiệp THPT</p>
                        <p><strong>Hỗ trợ</strong> các bạn học sinh THPT hiểu biết thêm về mọi thứ của trường đại học Bách Khoa TPHCM</p>
                        <p><strong>Tổ chức thi thử</strong> cho các bạn học sinh THPT cuối cấp để giúp các bạn có hành trang tốt nhất trước khi bước vào kỳ thi THPTQG</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of introduction -->

<script>
    const bodyTag = $("body");
    bodyTag.addClass("home-bg");
</script>
<script>
    $('#fixed-nav').addClass('bg-transparent navbar-dark');
    window.addEventListener('scroll', function () {
        if (window.pageYOffset > 100) {
            $('#fixed-nav').removeClass('bg-transparent navbar-dark');
        } else {
            $('#fixed-nav').addClass('bg-transparent navbar-dark');
        }
      });
</script>